<script>
  window.userId = "<%= userId %>";
</script>
<script src="/user_rating.js"></script>
<div class="show-icons">


  <!-- Watchlist Button -->
  <form action="/shows/watchlist/add/<%= userId %>" method="post" class="watchlist-form">
    <input type="hidden" name="id" value="<%= show.id %>">
    <input type="hidden" name="name" value="<%= show.name %>">
    <input type="hidden" name="poster_path" value="<%= show.poster_path %>">
    <button type="submit" class="icon-button">
      <img class="icon" src="/images/Watching.png" style="height: 30px; width: 30px;" alt="Add to Watchlist">
    </button>
  </form>

  <!-- Watched Button -->
  <form action="/shows/watched/add/<%= userId %>" method="post" class="watched-form">
    <input type="hidden" name="id" value="<%= show.id %>">
    <input type="hidden" name="name" value="<%= show.name %>">
    <input type="hidden" name="poster_path" value="<%= show.poster_path %>">
    <div class="rating-container">
      <button type="submit" class="icon-button">
        <img class="icon" src="/images/Watched.png" style="height: 30px; width: 30px;" alt="Add to Watched">
      </button>
    </div>
  </form>
</div>
<!--  Rating Modal -->
<div id="ratingModal<%= show.id %>" class="modal rating-modal" data-show-id="<%= show.id %>">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Rate "<%= show.name %>"</h2>
      <span class="close" onclick="closeRatingModal('<%= show.id %>')">&times;</span>
    </div>
    <div class="modal-body">
      <div class="timer-bar" id="timerBar<%= show.id %>"></div>
      <div class="form-group">
        <label for="userRatingInput<%= show.id %>">Rating (1-10):</label>
        <input type="number" id="userRatingInput<%= show.id %>" min="1" max="10">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" onclick="closeRatingModal('<%= show.id %>')">Cancel</button>
      <button class="btn btn-primary" onclick="submitRating('<%= show.id %>', '<%= userId %>')">Submit Rating</button>
    </div>
  </div>
</div>























