
<div class="container">
<ul class="genres">
    <% genres.forEach(function(genre) { %>
        <li><span onclick="filterByGenre('<%= genre %>')"><%= genre %></span></li>
    <% }); %>
</ul>
</div>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
    <%= headingTitle %>
    <div class="pull-right">
        <input class="search" type="text" placeholder="Search...">
    </div>
</div>
<div class="panel-body">
    <div class="row show-list">
        <% shows.forEach(function(show) { %>
            <div class="fade-repeat col-xs-4 col-md-3">
                <a href="/shows/<%= show._id %>">
                    <img class="img-rounded" src="<%= show.poster %>" width="100%"/>
                </a>
                <div class="text-center">
                    <a href="/shows/<%= show._id %>"><%= show.name %></a>
                    <p class="text-muted">Episodes: <%= show.episodes.length %></p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
</div>
