<%- include('../partials/header') %>
<!-- ... Head elements ... -->
<main>
  <h1>TV Shows</h1> 
  <div class="show-list">
    <% shows.forEach(show => { %>
      <div id="show_<%= show.id %>" class="show">
        <!-- Check if the show has a poster image -->
        <% if (show.poster_path) { %>
          <a href="/pages/show/<%= show.id %>">
            <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>">
          </a>
          <%- include('../partials/buttons', { show: show, userId: userId }) %>
        <% } else { %>
          <p>No image available.</p>
        <% } %>
      </div>
    <% }); %>
  </div>
      
  
      </main>
    <%- include('../partials/footer') %>
