<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
    <link rel="stylesheet" href="/styles.css">
  <!-- ... Head elements ... -->
</head>
<body>
    <h1>TV Shows <br>
    <button onclick="window.location.href='/pages/browse'">Back</button>
</h1>
  <div class="show-list">
    <% shows.forEach(show => { %>
        
        <div id="show_<%= show.id %>" class="show">
        <!-- Check if the show has a poster image -->
        <% if (show.poster_path) { %>
          <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>">
        <% } else { %>
          <p>No image available.</p>
        <% } %>
        <div class="show-icons">
            <img src="/images/Favorites.png" alt="Add to Favorites" onclick="addToFavorites('<%= show.id %>')" class="icon">
            <img src="/images/Watching.png" alt="Add to Watch List" onclick="addToWatchList('<%= show.id %>')" class="icon">
            <img src="/images/Watched.png" alt="Add to Watched" onclick="addToWatched('<%= show.id %>')" class="icon">
          </div>
        </div>
      <div id="recommendations-container"></div>
    <% }); %>
    <!-- back button redirect to browse -->
    <div id="ratingModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Rate the Show</h2>
          <div id="ratingOptions"> 
          </div>
          <button id="submitRating">Submit Rating</button>
        </div>
      </div>


  </div>
    <script src="/script.js"></script>

</body>
</html>
