<%- include('../partials/header.ejs'); %>
<main>
<h1>Latest TV Shows</h1>
<div class="show-list">
    <% shows.forEach(show => { %>
        <div id="show_<%= show.id %>" class="show">
            <a href="/pages/show/<%= show.id %>">
            <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>">
              </a>
                <%- include('../partials/buttons', { show: show, userId: userId }) %>
        </div>
    <% }) %>
</div>
</body>
</main>
<%- include('../partials/footer.ejs'); %>