<%- include('../partials/header.ejs'); %>
<!-- <script src="/data.js"></script>  -->
    <h1>Popular TV Shows</h1>
    <div class="show-list">
        <% shows.forEach(show => { %>
            <div id="show_<%= show.id %>" class="show">
                <!-- Check if the show has a poster image -->
                <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>" onclick="openModal('<%= show.id %>')">
                <h2><%= show.name %></h2>
                <form action="/shows/add/<%= userId %>" method="post">
                      <input type="hidden" name="id" value="<%= show.id %>">
                      <input type="hidden" name="name" value="<%= show.name %>">
                        <input type="hidden" name="poster_path" value="<%= show.poster_path %>">
                        <input type="hidden" name="rating" value="<%= show.vote_average %>">
                        <input type="hidden" name="overview" value="<%= show.overview %>">
                        <input type="hidden" name="overview" value="<%= show.overview %>">
                        <input type="hidden" name="homepage" value="<%= show.homepage %>">
                        <input type="hidden" name="numberepisodes" value="<%= show.number_of_episodes %>">
                        <input type="hidden" name="numberseasons" value="<%= show.number_of_seasons %>">
                        <input type="hidden" name="air_date" value="<%= show.air_date %>">
                        <input type="hidden" name="last_episode_to_air" value='<%= JSON.stringify(show.last_episode_to_air) %>'>
                        <input type="hidden" name="next_episode_to_air" value='<%= JSON.stringify(show.next_episode_to_air) %>'>
                        <input type="hidden" name="status" value="<%= show.status %>">   
                        <input type="hidden" name="popularity" value="<%= show.popularity %>">
                        <input type="hidden" name="next_episode" value="<%= show.next_episode_to_air%>">
                       <input type="hidden" name="last_air_date" value="<%= show.last_air_date %>">
                      <button type="submit">Add </button>
                    </form>
                

                <div id="recommendations-container"></div>



            </div>
        <% }) %>
    </div>
</body>
</html>


<%- include('../partials/modal') %>
<%- include('../partials/footer') %>