<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gnosis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/navbarScroll') %>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid text-white" style="background: url('https://image.tmdb.org/t/p/w500<%= show.poster_path %>') no-repeat center center; background-size: cover;">
        <div class="container">
            <h1 class="display-4"><%= show.name %></h1>
            <p class="lead"><%= show.tagline %></p>
        </div>
    </div>

    <!-- Show Details -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>" class="img-fluid rounded">
            </div>
            <div class="col-md-8">
                <h3>Details</h3>
                <p>Overview: <%= show.overview %></p> 
                <p><strong>Genres:</strong> <% show.genres.forEach(function(genre) { %>
                    <%= genre.name %><% if(!genre.last) { %>, <% } %>
                <% }); %></p>
                <p><strong>Rating:</strong> <%= show.vote_average %> (Based on <%= show.vote_count %> votes)</p>
                <p><strong>Air Date:</strong> <%= show.first_air_date %> - <%= show.last_air_date %></p>
                <p><strong>Seasons:</strong> <%= show.number_of_seasons %>, <strong>Episodes:</strong> <%= show.number_of_episodes %></p>
                <p><strong>Status:</strong> <%= show.status %></p>
                <p><strong>Popularity:</strong> <%= show.popularity %></p>
            </div>
        </div>
    </div>


 <!-- Additional Details -->
 <div class="row mt-4">
    <!-- Networks -->
    <div class="col-md-6">
        <h3>Networks</h3>
        <p>
            <% show.networks.forEach(function(network) { %>
                <img src="https://image.tmdb.org/t/p/w500<%=network.logo_path %>" alt="<%= network.name %>" class="logo-image">
            <% }); %>
        </p> 
    </div>

    

    <!-- Production Companies -->
    <div class="col-md-6">
        <h3>Production Companies</h3>
        <p>
            <% show.production_companies.forEach(function(company) { %>
                <img src="https://image.tmdb.org/t/p/w500<%=company.logo_path %>" alt="<%= company.name %>" class="logo-image">
            <% }); %>
        </p>
    </div>
</div>

<div class="row mt-6">
    <div class="col">
        <h3>Created By</h3>
        <% show.created_by.forEach(function(creator) { %>
            <div class="creator-info">
                <p><%= creator.name %></p>
                <img src="<%= creator.profile_path ? `https://image.tmdb.org/t/p/w500${creator.profile_path}` : '/public/images/default-avatar.png' %>" alt="Profile Image" class="image-profile">
            </div>
        <% }); %>
    </div>
</div>

</div>
</div>


<div id="show_<%= show.id %>" class="show">
  
    <div class="container">
        <h3>Seasons</h3>
        <div class="row">
            <% show.seasons.forEach(function(season) { %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="season-card">
                        <img src="https://image.tmdb.org/t/p/w500<%= season.poster_path %>" onerror="this.onerror=null; this.src='Untitled.png';" class="season-image">
                        <strong><%= season.name %>:</strong> <br> <%= season.episode_count %> Episodes
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Next Episode -->
        <div class="col-md-6">
            <img src="https://image.tmdb.org/t/p/w500<%= show.next_episode_to_air.still_path %>" alt="<%= show.next_episode_to_air.name %>" class="image-profile">
            <p><strong>Next Episode:</strong> <%= show.next_episode_to_air.name %></p>
            <p><strong>Next Air Date:</strong> <%= show.next_episode_to_air.air_date %></p>
        </div>

        <!-- Last Episode -->
        <div class="col-md-6">
            <img src="https://image.tmdb.org/t/p/w500<%= show.last_episode_to_air.still_path %>" alt="<%= show.last_episode_to_air.name %>" class="still-image">
            <p><strong>Last Episode:</strong> <%= show.last_episode_to_air.name %></p>
            <p><strong>Last Air Date:</strong> <%= show.last_episode_to_air.air_date %></p>
        </div>
    </div>
</div>
</div>




</div>
</body>
</html>
<%- include('../partials/footer.ejs'); %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

