    <%- include('../partials/navbarScroll') %>
    <main>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid text-white" style="background: url('https://image.tmdb.org/t/p/w500<%= show.poster_path %>') no-repeat center center; background-size: cover;">
            <div class="container">
                <p class="lead"><%= show.tagline %></p>
            </div>
        </div>

        <%- include('../partials/buttons') %>

        <!-- Show Details -->
        <div class="row">
            <!-- Image Card -->
            <div class="col-md-6">
                <div class="main-card">
                    <img src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>" alt="<%= show.name %>" class="card-img-top">
                    <h1 class="display-4"><%= show.name %></h1>
                </div> 
            </div>


            <!-- Details Cards -->
            <div class="col-md-6">
                <div class="details-card">
                    <div class="card-body">
                        <h3 class="">Overview</h3>
                        <p class=""><%= show.overview %></p>
                    </div> 
                </div> 
                <div class="details-card">
                    <div class="card-body"> 
                        <p><strong>Genres:</strong> 
                            <% show.genres.forEach(function(genre, index) { %>
                                <%= genre.name %><% if(index < show.genres.length - 1) { %>,<% } %>
                            <% }); %>
                        </p>
                        <p><strong>Rating:</strong> <%= show.vote_average %> (Based on <%= show.vote_count %> votes)</p>
                        <p><strong>Air Date:</strong> <%= show.first_air_date %> - <%= show.last_air_date %></p>
                        <p><strong>Seasons:</strong> <%= show.number_of_seasons %>, <strong>Episodes:</strong> <%= show.number_of_episodes %></p>
                        <p><strong>Status:</strong> <%= show.status %></p>
                        <p><strong>Popularity:</strong> <%= show.popularity %></p>
                    </div>
                </div>
            </div>   
        </div>

        <div class="row">
            <!-- Networks -->
            <div class="col-md-6">
                <h3>Networks</h3>
                <div class="row">
                    <% show.networks.forEach(function(network) { %>
                        <div class="col-md-4 col-sm-6">
                            <div class="logo-card">
                                <img src="https://image.tmdb.org/t/p/w500<%=network.logo_path %>" alt="<%= network.name %>" class="logo-image">
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>

            <!-- Production Companies -->
            <div class="col-md-6">
                <h3>Production Companies</h3>
                <div class="row">
                    <% show.production_companies.forEach(function(company) { %>
                        <div class="col-md-4 col-sm-6">
                            <div class="logo-card">
                                <img src="https://image.tmdb.org/t/p/w500<%= company.logo_path %>" alt="<%= company.name %>" class="logo-image">
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="container mt-6">
            <h3>Created By</h3>
            <div class="row">
                <% show.created_by.forEach(function(creator) { %>
                    <div class="col-md-6 col-sm-6">
                        <div class="creator-card">
                            <img src="<%= creator.profile_path ? `https://image.tmdb.org/t/p/w500${creator.profile_path}` : '/public/images/default-avatar.png' %>" alt="Profile Image" class="image-profile">
                            <p><%= creator.name %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>

        
            <div class="container">
                <h3>Seasons</h3>
                <div class="row">
                    <% show.seasons.forEach(function(season) { %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="season-card">
                                <img src="https://image.tmdb.org/t/p/w500<%= season.poster_path %>" onerror="this.onerror=null; this.src='Untitled.png';" class="season-image">
                                <p><strong><%= season.name %>:</strong> <br> <%= season.episode_count %> Episodes</p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
       

        <div class="container">
            <div class="row">
                <!-- Next Episode -->
                <div class="col-md-6">
                    <div class="season-card">
                        <% if (show.next_episode_to_air) { %>
                            <img src="https://image.tmdb.org/t/p/w500<%= show.next_episode_to_air.still_path %>" alt="<%= show.next_episode_to_air.name %>" class="still-image">
                            <p><strong>Next Episode:</strong> <%= show.next_episode_to_air.name %></p>
                            <p><strong>Next Air Date:</strong> <%= show.next_episode_to_air.air_date %></p>
                        <% } else { %>
                            <p>No next episode information available.</p>
                        <% } %>
                    </div>
                </div>
                <!-- Last Episode -->
                <div class="col-md-6">
                    <div class="season-card">
                        <% if (show.last_episode_to_air) { %>
                            <img src="https://image.tmdb.org/t/p/w500<%= show.last_episode_to_air.still_path %>" alt="<%= show.last_episode_to_air.name %>" class="still-image">
                            <p><strong>Last Episode:</strong> <%= show.last_episode_to_air.name %></p>
                            <p><strong>Last Air Date:</strong> <%= show.last_episode_to_air.air_date %></p>
                        <% } else { %>
                            <p>No last episode information available.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs'); %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>